# Import Data

In [1]:
import warnings
warnings.filterwarnings('ignore')

import os
os.chdir('C:/DATASETS/')

In [3]:
import pandas as pd
df1=pd.read_csv("C:/Users/ADMIN/Downloads/Iris.csv")
df1

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
df1.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

# check Info

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
# Create dataframe by subsetting classification columns like 'Rev.per.mile','Horsepower','Price','Weight','Man.trans.avail','RPM'

In [6]:
df=df1[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm','Species']]
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

# Regression

# Define Feature and Target

In [ ]:
# x=df.drop(['Price','Man.trans.avail'],axis=1)
# y=df['Price']

In [7]:
# feature
x=df.drop(['Species'],axis=1)
x

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0              5.1           3.5            1.4           0.2
1              4.9           3.0            1.4           0.2
2              4.7           3.2            1.3           0.2
3              4.6           3.1            1.5           0.2
4              5.0           3.6            1.4           0.2
..             ...           ...            ...           ...
145            6.7           3.0            5.2           2.3
146            6.3           2.5            5.0           1.9
147            6.5           3.0            5.2           2.0
148            6.2           3.4            5.4           2.3
149            5.9           3.0            5.1           1.8

[150 rows x 4 columns]

In [8]:
x.isna().sum()

SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
dtype: int64

# Preprocessing

In [24]:
from sklearn.preprocessing import StandardScaler,LabelEncoder

In [25]:
# create object of Standard scaler
ss=StandardScaler()

In [26]:
# transform feature values
x1=pd.DataFrame(ss.fit_transform(x),columns=ss.get_feature_names_out())

In [13]:
x1

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0        -0.900681      1.032057      -1.341272     -1.312977
1        -1.143017     -0.124958      -1.341272     -1.312977
2        -1.385353      0.337848      -1.398138     -1.312977
3        -1.506521      0.106445      -1.284407     -1.312977
4        -1.021849      1.263460      -1.341272     -1.312977
..             ...           ...            ...           ...
145       1.038005     -0.124958       0.819624      1.447956
146       0.553333     -1.281972       0.705893      0.922064
147       0.795669     -0.124958       0.819624      1.053537
148       0.432165      0.800654       0.933356      1.447956
149       0.068662     -0.124958       0.762759      0.790591

[150 rows x 4 columns]

In [14]:
# Target
y=df['Species']
y

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [27]:
la=LabelEncoder()

In [29]:
y1=la.fit_transform(y)
y1

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

# Split

In [31]:
from sklearn.model_selection import train_test_split, RandomizedSearchCV
x_train,x_test,y_train,y_test=train_test_split(x1,y1,test_size=0.2,random_state=16)

In [32]:
x_train

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
145       1.038005     -0.124958       0.819624      1.447956
104       0.795669     -0.124958       1.160819      1.316483
13       -1.870024     -0.124958      -1.511870     -1.444450
73        0.310998     -0.587764       0.535296      0.001753
48       -0.658345      1.494863      -1.284407     -1.312977
..             ...           ...            ...           ...
125       1.643844      0.337848       1.274550      0.790591
123       0.553333     -0.819166       0.649027      0.790591
65        1.038005      0.106445       0.364699      0.264699
69       -0.294842     -1.281972       0.080370     -0.129720
121      -0.294842     -0.587764       0.649027      1.053537

[120 rows x 4 columns]

In [33]:
y_train

array([2, 2, 0, 1, 0, 1, 0, 1, 2, 0, 2, 2, 0, 1, 1, 2, 2, 1, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 2, 1, 2, 0, 2, 0, 1, 1, 2, 0, 2, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 2, 0, 0, 1, 0, 2, 2, 1, 0, 1, 0, 1, 0, 0, 2, 0, 0, 0, 2,
       2, 1, 2, 2, 2, 1, 0, 0, 0, 1, 2, 0, 0, 2, 2, 0, 1, 2, 2, 1, 1, 1,
       2, 0, 2, 1, 0, 0, 2, 2, 0, 1, 0, 2, 2, 2, 0, 2, 2, 1, 1, 0, 2, 2,
       2, 1, 2, 0, 0, 2, 2, 1, 1, 2])

# Model Building

# import DecisionTreeRegressor and DecicionTreeClassifier

In [34]:
# from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier

from sklearn.tree import DecisionTreeRegressor,DecisionTreeClassifier

In [35]:
dtc=DecisionTreeClassifier(random_state=23)
dtc

DecisionTreeClassifier(random_state=23)

**. create object of DecisionTreeRegressor

In [22]:
# dt=DecisionTreeRegressor(random_state=23)
dt=DecisionTreeRegressor(random_state=23)
dt

DecisionTreeRegressor(random_state=23)

# Fit Model

In [36]:
dtc.fit(x_train,y_train)

DecisionTreeClassifier(random_state=23)

In [37]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [38]:
y_pred_train=dtc.predict(x_train)

In [39]:
clf=classification_report(y_pred_train,y_train)
cnf=confusion_matrix(y_pred_train,y_train)
acc1=accuracy_score(y_pred_train,y_train)
print("Classification_Report",clf)
print("Confusion Matrix",cnf)
print("Accuracy Score",acc1)

Classification_Report               precision    recall  f1-score   support

           0       1.00      1.00      1.00        40
           1       1.00      1.00      1.00        38
           2       1.00      1.00      1.00        42

    accuracy                           1.00       120
   macro avg       1.00      1.00      1.00       120
weighted avg       1.00      1.00      1.00       120

Confusion Matrix [[40  0  0]
 [ 0 38  0]
 [ 0  0 42]]
Accuracy Score 1.0

In [40]:
y_pred_test=dtc.predict(x_test)

In [41]:
clf=classification_report(y_pred_test,y_test)
cnf=confusion_matrix(y_pred_test,y_test)
acc1=accuracy_score(y_pred_test,y_test)
print("Classification_Report",clf)
print("Confusion Matrix",cnf)
print("Accuracy Score",acc1)

Classification_Report               precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.80      0.89        15
           2       0.62      1.00      0.77         5

    accuracy                           0.90        30
   macro avg       0.88      0.93      0.89        30
weighted avg       0.94      0.90      0.91        30

Confusion Matrix [[10  0  0]
 [ 0 12  3]
 [ 0  0  5]]
Accuracy Score 0.9